<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download | File Sharing App - File Sharing Made Easy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <section class="download" style="font-size:20px; text-align: center; margin:200px 10px 10px 0px;">
        <% if(locals.error){ %>
        <h4><%= locals.error %> 😏</h4>
        <% } else { %>
        <h2>Download Your File</h2>
        <div class="download__meta">
            <h4><%= fileName %></h4>
            <small>Your File Size is <%= parseInt(fileSize/1000) %> KB</small>
        </div>
        <div class="send-btn-container">
            <a href="<%= downloadLink %>">Download file</a>
        </div>
        <% } %>
    </section>
</body>
</html>